.skills-container {
  padding: 20px 10px;
  background-color: #0f1831;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
}

.heading-color{
  color: rgb(163, 59, 144);
}


.skills-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color:#E5C9D7;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills-list li ,
.skills-frameworks li,
.skills-extra li{
  font-size: 1.1rem;
  margin: 10px 0;
  color:#E5C9D7;
}

.skills-frameworks,
.skills-extra,
.skills-title {
  margin-top: 30px;
  color: #83A6CE;
}

.skills-footer {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 30px;
  font-style: italic;
}

.all-skills{
  background-color: #070a13;
  margin: 10px;
  padding: 10px;
}