.skills-container {
  padding: 50px;
  background-color: #101a38;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.heading-color{
  color: rgb(163, 59, 144);
}

.skills-title {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(163, 59, 144,0.7);
}

.skills-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color:rgba(207, 205, 205, 0.75);
}

.skills-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills-list li ,
.skills-frameworks li,
.skills-extra li{
  font-size: 1.1rem;
  margin: 10px 0;
  color:rgba(177, 145, 145,0.75);
}

.skills-frameworks,
.skills-extra {
  margin-top: 30px;
  color: rgba(163, 59, 144,0.7);
}

.skills-footer {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 30px;
  font-style: italic;
}